.tooltip {
  position: relative;
  display: inline-block;
  visibility: visible;
  opacity: 1;
  padding: 10px;
  border: solid;
  width: 100%;
  max-width: 600px;
  margin: 10px;
  z-index:0
}
.tooltip-inner {
  float: left;
  background-color: #FFF;
  z-index:0
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80%;
  background-color: #E5E5E5;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 80%;
  margin-left: -80%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  z-index:0
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
