---
title: "Lieux fréquentés par Zikapanam"
layout: default
permalink: "/lieux.html"
---
<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><span style="color:#565656">Make this Notebook Trusted to load map: File -> Trust Notebook</span><iframe srcdoc="&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    
    &lt;meta http-equiv=&quot;content-type&quot; content=&quot;text/html; charset=UTF-8&quot; /&gt;
    
        &lt;script&gt;
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        &lt;/script&gt;
    
    &lt;style&gt;html, body {width: 100%;height: 100%;margin: 0;padding: 0;}&lt;/style&gt;
    &lt;style&gt;#map {position:absolute;top:0;bottom:0;right:0;left:0;}&lt;/style&gt;
    &lt;script src=&quot;https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://code.jquery.com/jquery-1.12.4.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js&quot;&gt;&lt;/script&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css&quot;/&gt;
    
            &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no&quot; /&gt;
            &lt;style&gt;
                #map_04d5d2d7832a322b57fdabd67a14e72f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            &lt;/style&gt;
        
&lt;/head&gt;
&lt;body&gt;
    
    
            &lt;div class=&quot;folium-map&quot; id=&quot;map_04d5d2d7832a322b57fdabd67a14e72f&quot; &gt;&lt;/div&gt;
        
&lt;/body&gt;
&lt;script&gt;
    
    
            var map_04d5d2d7832a322b57fdabd67a14e72f = L.map(
                &quot;map_04d5d2d7832a322b57fdabd67a14e72f&quot;,
                {
                    center: [48.85723721898729, 2.3659702861450262],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_85ec8f3330bf1e55c5d63b5a5b7c180f = L.tileLayer(
                &quot;https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png&quot;,
                {&quot;attribution&quot;: &quot;Data by \u0026copy; \u003ca target=\&quot;_blank\&quot; href=\&quot;http://openstreetmap.org\&quot;\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\&quot;_blank\&quot; href=\&quot;http://www.openstreetmap.org/copyright\&quot;\u003eODbL\u003c/a\u003e.&quot;, &quot;detectRetina&quot;: false, &quot;maxNativeZoom&quot;: 18, &quot;maxZoom&quot;: 18, &quot;minZoom&quot;: 0, &quot;noWrap&quot;: false, &quot;opacity&quot;: 1, &quot;subdomains&quot;: &quot;abc&quot;, &quot;tms&quot;: false}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var marker_1c920c8b1c9511d26459a652c17c604c = L.marker(
                [48.853065032611624, 2.400673765614945],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_6f8311d43e6f1a2d971b84de1718ac14 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_1c920c8b1c9511d26459a652c17c604c.setIcon(icon_6f8311d43e6f1a2d971b84de1718ac14);
        
    
        var popup_ad54b594e9a842b93319368d21df0240 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_e440c97cae234d1c5e0c2c3981811363 = $(`&lt;div id=&quot;html_e440c97cae234d1c5e0c2c3981811363&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Centre Ken Saro-Wiwa | 75020&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75020 &lt;a href=&quot;https://maps.app.goo.gl/97dGPovR2YW11PQWA&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_ad54b594e9a842b93319368d21df0240.setContent(html_e440c97cae234d1c5e0c2c3981811363);
            
        

        marker_1c920c8b1c9511d26459a652c17c604c.bindPopup(popup_ad54b594e9a842b93319368d21df0240)
        ;

        
    
    
            var marker_28b3f5b637d65e550a1cfd6f0ccaa4bb = L.marker(
                [48.89206506728088, 2.3104166404504536],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_ccbc11a7e660bd9b906891f10e2bb00a = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_28b3f5b637d65e550a1cfd6f0ccaa4bb.setIcon(icon_ccbc11a7e660bd9b906891f10e2bb00a);
        
    
        var popup_cd0511486bc3ac9619c9722a8cff9a1e = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_2a925697c64021482318b2e653ee23ed = $(`&lt;div id=&quot;html_2a925697c64021482318b2e653ee23ed&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Centre Paris Anim Mado Robin | 75017&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75017 &lt;a href=&quot;https://maps.app.goo.gl/3NecZDthxWCScGy79&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_cd0511486bc3ac9619c9722a8cff9a1e.setContent(html_2a925697c64021482318b2e653ee23ed);
            
        

        marker_28b3f5b637d65e550a1cfd6f0ccaa4bb.bindPopup(popup_cd0511486bc3ac9619c9722a8cff9a1e)
        ;

        
    
    
            var marker_d6ce933be156d63b5efbedc3e7c5d38b = L.marker(
                [48.89759757732897, 2.4079245914041887],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_d65996031ce5237f3071e9129d85c1e2 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_d6ce933be156d63b5efbedc3e7c5d38b.setIcon(icon_d65996031ce5237f3071e9129d85c1e2);
        
    
        var popup_d2092914c0c2edd9e747bfac97176340 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_b8032bc2bbe255ae18de9aaf58b7718f = $(`&lt;div id=&quot;html_b8032bc2bbe255ae18de9aaf58b7718f&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;DGD Music Studio | 93500&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 93500 &lt;a href=&quot;https://goo.gl/maps/2U7zzqLwrXkXvK557&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_d2092914c0c2edd9e747bfac97176340.setContent(html_b8032bc2bbe255ae18de9aaf58b7718f);
            
        

        marker_d6ce933be156d63b5efbedc3e7c5d38b.bindPopup(popup_d2092914c0c2edd9e747bfac97176340)
        ;

        
    
    
            var marker_b510437fdfe4e83386156e8dae457e63 = L.marker(
                [48.8844019626705, 2.353836096272236],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_bad56fd6c0afcd4d3d99d1096a325183 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_b510437fdfe4e83386156e8dae457e63.setIcon(icon_bad56fd6c0afcd4d3d99d1096a325183);
        
    
        var popup_1f7b56c38c432d11ac6c5861fba848ea = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_f51ab3f574c9ce981575f506996bf565 = $(`&lt;div id=&quot;html_f51ab3f574c9ce981575f506996bf565&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;FGO Barbara | 75018&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75018 &lt;a href=&quot;https://maps.app.goo.gl/3xXtM8e3Jfy25vYU7&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_1f7b56c38c432d11ac6c5861fba848ea.setContent(html_f51ab3f574c9ce981575f506996bf565);
            
        

        marker_b510437fdfe4e83386156e8dae457e63.bindPopup(popup_1f7b56c38c432d11ac6c5861fba848ea)
        ;

        
    
    
            var marker_f3b28bcdd96630438049c666a4f74041 = L.marker(
                [48.90543857355753, 2.339154800970981],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_afdbcb7e2bc61d692c01591bbb26b54c = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_f3b28bcdd96630438049c666a4f74041.setIcon(icon_afdbcb7e2bc61d692c01591bbb26b54c);
        
    
        var popup_820712f9e46591a6cc3cf7410a53583d = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_9ec5464307cfdc0b078dd975ea30b59a = $(`&lt;div id=&quot;html_9ec5464307cfdc0b078dd975ea30b59a&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Mains d&#x27;Oeuvres | 93400&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 93400 &lt;a href=&quot;https://maps.app.goo.gl/EoXJorDnadDs8Ubf8&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_820712f9e46591a6cc3cf7410a53583d.setContent(html_9ec5464307cfdc0b078dd975ea30b59a);
            
        

        marker_f3b28bcdd96630438049c666a4f74041.bindPopup(popup_820712f9e46591a6cc3cf7410a53583d)
        ;

        
    
    
            var marker_fff736d6aa8718664a94a790361456d8 = L.marker(
                [48.85420607684811, 2.4204710257402606],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_c0d715cde60943b37669f953ef60c7df = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_fff736d6aa8718664a94a790361456d8.setIcon(icon_c0d715cde60943b37669f953ef60c7df);
        
    
        var popup_59cf10145b9bc56ccc292eb107acc339 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_1c683b0b9d2d8e9187a05ee6923f04bd = $(`&lt;div id=&quot;html_1c683b0b9d2d8e9187a05ee6923f04bd&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio 440 Montreuil | 93100&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 93100 &lt;a href=&quot;https://maps.app.goo.gl/WcZ9h8611RD22AWU9&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_59cf10145b9bc56ccc292eb107acc339.setContent(html_1c683b0b9d2d8e9187a05ee6923f04bd);
            
        

        marker_fff736d6aa8718664a94a790361456d8.bindPopup(popup_59cf10145b9bc56ccc292eb107acc339)
        ;

        
    
    
            var marker_4a24a1addfcab64c6d7b38c3c2025398 = L.marker(
                [48.873174660020716, 2.353390893253403],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_44266b5816cfe3f587c7a6935f546c4e = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_4a24a1addfcab64c6d7b38c3c2025398.setIcon(icon_44266b5816cfe3f587c7a6935f546c4e);
        
    
        var popup_b4b3ca3575046ee0f4a94ab55a5b98cd = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_8ee86f787460bec330c5d9c88bc272ff = $(`&lt;div id=&quot;html_8ee86f787460bec330c5d9c88bc272ff&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio Bleu 10ème | 75010&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75010 &lt;a href=&quot;https://goo.gl/maps/Syr6wv2vf6CZSDUz5&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_b4b3ca3575046ee0f4a94ab55a5b98cd.setContent(html_8ee86f787460bec330c5d9c88bc272ff);
            
        

        marker_4a24a1addfcab64c6d7b38c3c2025398.bindPopup(popup_b4b3ca3575046ee0f4a94ab55a5b98cd)
        ;

        
    
    
            var marker_9ed6b53bc3a737deff36ed20bac07370 = L.marker(
                [48.85799891138765, 2.372357677910995],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_7382048b6e2bfad4634cf17ca5d28cc9 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_9ed6b53bc3a737deff36ed20bac07370.setIcon(icon_7382048b6e2bfad4634cf17ca5d28cc9);
        
    
        var popup_5d52c5df62335b619ff66af4f54e4d13 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_a75356fc07f705717f965472ac949fe8 = $(`&lt;div id=&quot;html_a75356fc07f705717f965472ac949fe8&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio Campus | 75011&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75011 &lt;a href=&quot;https://goo.gl/maps/nEQQ53QDHM11uj467&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_5d52c5df62335b619ff66af4f54e4d13.setContent(html_a75356fc07f705717f965472ac949fe8);
            
        

        marker_9ed6b53bc3a737deff36ed20bac07370.bindPopup(popup_5d52c5df62335b619ff66af4f54e4d13)
        ;

        
    
    
            var marker_fd977bba3b813cf9c77ceb499fe4ff1b = L.marker(
                [48.81998636835969, 2.338572028835795],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_49f21608054387934706db7ad027a0b1 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_fd977bba3b813cf9c77ceb499fe4ff1b.setIcon(icon_49f21608054387934706db7ad027a0b1);
        
    
        var popup_67f18dad2aa9fdeac028c2a8254f9ee8 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_594f68e76e371aebbfdf731d65cee788 = $(`&lt;div id=&quot;html_594f68e76e371aebbfdf731d65cee788&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio Cité Internationale Universitaire de Paris | 75014&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75014 &lt;a href=&quot;https://goo.gl/maps/GGGPWdZjd6kPJiAt9?coh=178572&amp;entry=tt&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_67f18dad2aa9fdeac028c2a8254f9ee8.setContent(html_594f68e76e371aebbfdf731d65cee788);
            
        

        marker_fd977bba3b813cf9c77ceb499fe4ff1b.bindPopup(popup_67f18dad2aa9fdeac028c2a8254f9ee8)
        ;

        
    
    
            var marker_df4bc449e7cbb6054cdba234ecc04f2c = L.marker(
                [48.87382128419277, 2.3512432711642046],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_2c3c46ac0ddf1d07b529821b202d0551 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_df4bc449e7cbb6054cdba234ecc04f2c.setIcon(icon_2c3c46ac0ddf1d07b529821b202d0551);
        
    
        var popup_62d0dc875380ebf0506f614b60961c54 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_43f068a06e96cf906598c2bfc1958551 = $(`&lt;div id=&quot;html_43f068a06e96cf906598c2bfc1958551&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio HBS Écuries (10ème) | 75010&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75010 &lt;a href=&quot;https://goo.gl/maps/JAFr8cPKM8mj8jze6?coh=178572&amp;entry=tt&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_62d0dc875380ebf0506f614b60961c54.setContent(html_43f068a06e96cf906598c2bfc1958551);
            
        

        marker_df4bc449e7cbb6054cdba234ecc04f2c.bindPopup(popup_62d0dc875380ebf0506f614b60961c54)
        ;

        
    
    
            var marker_64c0c1928e7b612bd8ef8a2daf5563af = L.marker(
                [48.87429992577817, 2.3460767134926135],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_b3ac385b960480b431ea615a030535fb = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_64c0c1928e7b612bd8ef8a2daf5563af.setIcon(icon_b3ac385b960480b431ea615a030535fb);
        
    
        var popup_5576b2470798f19f1fdc2cca548bb632 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_bab63bd53654f25f5d3611474c4e76c8 = $(`&lt;div id=&quot;html_bab63bd53654f25f5d3611474c4e76c8&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio HF 9ème | 75009&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75009 &lt;a href=&quot;https://goo.gl/maps/uYuq8duwjxSXfh3h7&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_5576b2470798f19f1fdc2cca548bb632.setContent(html_bab63bd53654f25f5d3611474c4e76c8);
            
        

        marker_64c0c1928e7b612bd8ef8a2daf5563af.bindPopup(popup_5576b2470798f19f1fdc2cca548bb632)
        ;

        
    
    
            var marker_a7b7a46a88f7ef867b89ca528417a524 = L.marker(
                [48.83185877488834, 2.3389437932534025],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_1632ea222db5f780e8bfe099d603a2ca = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_a7b7a46a88f7ef867b89ca528417a524.setIcon(icon_1632ea222db5f780e8bfe099d603a2ca);
        
    
        var popup_1861e1890c4f359e0bd1044ddac792e9 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_ec85be9349476152d2c96dddfe79d213 = $(`&lt;div id=&quot;html_ec85be9349476152d2c96dddfe79d213&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio HF 14ème | 75014&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75014 &lt;a href=&quot;https://goo.gl/maps/3DWxVr6H9K4CwEaX9&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_1861e1890c4f359e0bd1044ddac792e9.setContent(html_ec85be9349476152d2c96dddfe79d213);
            
        

        marker_a7b7a46a88f7ef867b89ca528417a524.bindPopup(popup_1861e1890c4f359e0bd1044ddac792e9)
        ;

        
    
    
            var marker_04bf8b27677b76bc55223d22b2f61c50 = L.marker(
                [48.83089459102877, 2.378753664417801],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_b63b85c616446fce4a92d7b362596837 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_04bf8b27677b76bc55223d22b2f61c50.setIcon(icon_b63b85c616446fce4a92d7b362596837);
        
    
        var popup_a9ce7f7129b09590efc6165792fc78dd = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_ef44a458544e35db8c699009cef878a6 = $(`&lt;div id=&quot;html_ef44a458544e35db8c699009cef878a6&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio Luna Rossa | 75013&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75013 &lt;a href=&quot;https://goo.gl/maps/az59anDD3cVYi88z8&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_a9ce7f7129b09590efc6165792fc78dd.setContent(html_ef44a458544e35db8c699009cef878a6);
            
        

        marker_04bf8b27677b76bc55223d22b2f61c50.bindPopup(popup_a9ce7f7129b09590efc6165792fc78dd)
        ;

        
    
    
            var marker_53a7e07f5260498c1e6f70c59d8ad71d = L.marker(
                [48.81381396087733, 2.4712191797606593],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_af51dc3a8c9bdf6818e00f5cb1c08eab = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_53a7e07f5260498c1e6f70c59d8ad71d.setIcon(icon_af51dc3a8c9bdf6818e00f5cb1c08eab);
        
    
        var popup_8511d46c33d4a2ac122199dd5fba9ab1 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_a6751313b376088010fd0654aeb471c9 = $(`&lt;div id=&quot;html_a6751313b376088010fd0654aeb471c9&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio Pulsar | 94340&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 94340 &lt;a href=&quot;https://goo.gl/maps/GPdCe3CcLi7DSJsS6&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_8511d46c33d4a2ac122199dd5fba9ab1.setContent(html_a6751313b376088010fd0654aeb471c9);
            
        

        marker_53a7e07f5260498c1e6f70c59d8ad71d.bindPopup(popup_8511d46c33d4a2ac122199dd5fba9ab1)
        ;

        
    
    
            var marker_56fe13f3dfae9ac7ed839b68b2b6ac0f = L.marker(
                [48.86131, 2.349996],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_56b65dc798f459e0e51f8d445e0e243a = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_56fe13f3dfae9ac7ed839b68b2b6ac0f.setIcon(icon_56b65dc798f459e0e51f8d445e0e243a);
        
    
        var popup_8335c8af78d92e8814ef8cba0d881ed3 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_63283beb21082689732a181b8ddcd1b6 = $(`&lt;div id=&quot;html_63283beb21082689732a181b8ddcd1b6&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Wacked Live | 75004&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75004 &lt;a href=&quot;https://maps.app.goo.gl/wDYXg2apQRjjav228&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_8335c8af78d92e8814ef8cba0d881ed3.setContent(html_63283beb21082689732a181b8ddcd1b6);
            
        

        marker_56fe13f3dfae9ac7ed839b68b2b6ac0f.bindPopup(popup_8335c8af78d92e8814ef8cba0d881ed3)
        ;

        
    
    
            var layer_control_ada07c713be4f5ec539931168128d23c = {
                base_layers : {
                    &quot;openstreetmap&quot; : tile_layer_85ec8f3330bf1e55c5d63b5a5b7c180f,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_ada07c713be4f5ec539931168128d23c.base_layers,
                layer_control_ada07c713be4f5ec539931168128d23c.overlays,
                {&quot;autoZIndex&quot;: true, &quot;collapsed&quot;: true, &quot;position&quot;: &quot;topright&quot;}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var marker_d190eb397b25cab106237a641731e04d = L.marker(
                [48.82912832041023, 2.3786719067457813],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_88b8e877af0e30e9c14c11dbaf17e38e = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_d190eb397b25cab106237a641731e04d.setIcon(icon_88b8e877af0e30e9c14c11dbaf17e38e);
        
    
        var popup_535e38714df5200ecf7a0138d5581265 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_3f7ea249832209be29c1528cd11c9a8e = $(`&lt;div id=&quot;html_3f7ea249832209be29c1528cd11c9a8e&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Dupont Café Paris 13ème | 75013&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75013 &lt;a href=&quot;https://maps.app.goo.gl/LH2ujvhDCh3eBMuk9&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_535e38714df5200ecf7a0138d5581265.setContent(html_3f7ea249832209be29c1528cd11c9a8e);
            
        

        marker_d190eb397b25cab106237a641731e04d.bindPopup(popup_535e38714df5200ecf7a0138d5581265)
        ;

        
    
    
            var marker_981424fabce49687cf3295c45f9346f9 = L.marker(
                [48.87001014194712, 2.373613523288485],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_25aff8d1b9b22ded0eb49288a5a60b20 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_981424fabce49687cf3295c45f9346f9.setIcon(icon_25aff8d1b9b22ded0eb49288a5a60b20);
        
    
        var popup_99e60c9942528c28d88d1d32167726f8 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_81bb6c9a4957ee16e698bcca6331dc1d = $(`&lt;div id=&quot;html_81bb6c9a4957ee16e698bcca6331dc1d&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Échiquier Paris 11ème | 75011&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75011 &lt;a href=&quot;https://maps.app.goo.gl/dRQLGbp2Fx6e65t36&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_99e60c9942528c28d88d1d32167726f8.setContent(html_81bb6c9a4957ee16e698bcca6331dc1d);
            
        

        marker_981424fabce49687cf3295c45f9346f9.bindPopup(popup_99e60c9942528c28d88d1d32167726f8)
        ;

        
    
    
            var marker_51a83fb1962fe65a1210bcace399bc24 = L.marker(
                [48.826125043705545, 2.3651739962680467],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_52eb4d260a7585f86e97124ca84dc419 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_51a83fb1962fe65a1210bcace399bc24.setIcon(icon_52eb4d260a7585f86e97124ca84dc419);
        
    
        var popup_9deb5cfe8728b57c6ea25d625960cbaa = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_3e3764e45fabc6b3ee06c9455867432b = $(`&lt;div id=&quot;html_3e3764e45fabc6b3ee06c9455867432b&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Lenouvô Cosmos | 75013&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75013 &lt;a href=&quot;https://maps.app.goo.gl/PZ7mcrMDj4E1iaqk9&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_9deb5cfe8728b57c6ea25d625960cbaa.setContent(html_3e3764e45fabc6b3ee06c9455867432b);
            
        

        marker_51a83fb1962fe65a1210bcace399bc24.bindPopup(popup_9deb5cfe8728b57c6ea25d625960cbaa)
        ;

        
    
    
            var marker_276ab2aa152964c66371ebe7a2532aae = L.marker(
                [48.84200298062322, 2.3413541453767475],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_f4c4987aae60ba6dd090c645eb7de49b = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_276ab2aa152964c66371ebe7a2532aae.setIcon(icon_f4c4987aae60ba6dd090c645eb7de49b);
        
    
        var popup_36b820e6927d0899b6bc1f2cf11e470a = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_9e5d3fa6f5194d6664af53fd02111fa7 = $(`&lt;div id=&quot;html_9e5d3fa6f5194d6664af53fd02111fa7&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Puzzle Bar Paris 5ème | 75005&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75005 &lt;a href=&quot;https://maps.app.goo.gl/228VgMYs2v6fVoWG8&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_36b820e6927d0899b6bc1f2cf11e470a.setContent(html_9e5d3fa6f5194d6664af53fd02111fa7);
            
        

        marker_276ab2aa152964c66371ebe7a2532aae.bindPopup(popup_36b820e6927d0899b6bc1f2cf11e470a)
        ;

        
    
    
            var marker_07e5f196e9ffc9b4c5a13c4efdab31e0 = L.marker(
                [48.86583842714019, 2.3771085355821984],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_14123f9685faef5f94930c4ef4b88eb9 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_07e5f196e9ffc9b4c5a13c4efdab31e0.setIcon(icon_14123f9685faef5f94930c4ef4b88eb9);
        
    
        var popup_538e6b596bed733039fa0f4c94db6026 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_578dfe72f015713cce67552cebc5316f = $(`&lt;div id=&quot;html_578dfe72f015713cce67552cebc5316f&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;QG Oberkampf | 75011&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75011 &lt;a href=&quot;https://goo.gl/maps/FhYJYcpY2xgySzam7&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_538e6b596bed733039fa0f4c94db6026.setContent(html_578dfe72f015713cce67552cebc5316f);
            
        

        marker_07e5f196e9ffc9b4c5a13c4efdab31e0.bindPopup(popup_538e6b596bed733039fa0f4c94db6026)
        ;

        
    
    
            var marker_d98b74894e2525370998e28c5225e558 = L.marker(
                [48.831838096666374, 2.341100022098901],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_fbf104a9ab5b87e471995877a6fa707d = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_d98b74894e2525370998e28c5225e558.setIcon(icon_fbf104a9ab5b87e471995877a6fa707d);
        
    
        var popup_9e482d6cd3a1e4e8c2ad1971628a2d30 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_b3a42b6f904a103a9aaf205135c622d1 = $(`&lt;div id=&quot;html_b3a42b6f904a103a9aaf205135c622d1&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Réveil Samaritain 14ème | 75014&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75014 &lt;a href=&quot;https://maps.app.goo.gl/Zxgi2ckTm3iPCiKk9&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_9e482d6cd3a1e4e8c2ad1971628a2d30.setContent(html_b3a42b6f904a103a9aaf205135c622d1);
            
        

        marker_d98b74894e2525370998e28c5225e558.bindPopup(popup_9e482d6cd3a1e4e8c2ad1971628a2d30)
        ;

        
    
    
            var marker_9bbe1d304139c57a87973e447900bb61 = L.marker(
                [48.870343040396634, 2.341294023288478],
                {}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
    
            var icon_96d0edaf8d41ec2b1bcd462be3bcda13 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_9bbe1d304139c57a87973e447900bb61.setIcon(icon_96d0edaf8d41ec2b1bcd462be3bcda13);
        
    
        var popup_a8c44e2c3ffe59ee0de9fbb32973c062 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_cd1d974da6ea9faba53bdeffa4626d25 = $(`&lt;div id=&quot;html_cd1d974da6ea9faba53bdeffa4626d25&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Truskel Club | 75002&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75002 &lt;a href=&quot;https://maps.app.goo.gl/34kWjab6QLyj4rJ77&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_a8c44e2c3ffe59ee0de9fbb32973c062.setContent(html_cd1d974da6ea9faba53bdeffa4626d25);
            
        

        marker_9bbe1d304139c57a87973e447900bb61.bindPopup(popup_a8c44e2c3ffe59ee0de9fbb32973c062)
        ;

        
    
    
            var layer_control_43aeff7b87a3d39119a763cbdccabd9c = {
                base_layers : {
                    &quot;openstreetmap&quot; : tile_layer_85ec8f3330bf1e55c5d63b5a5b7c180f,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_43aeff7b87a3d39119a763cbdccabd9c.base_layers,
                layer_control_43aeff7b87a3d39119a763cbdccabd9c.overlays,
                {&quot;autoZIndex&quot;: true, &quot;collapsed&quot;: true, &quot;position&quot;: &quot;topright&quot;}
            ).addTo(map_04d5d2d7832a322b57fdabd67a14e72f);
        
&lt;/script&gt;
&lt;/html&gt;" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe></div></div>