---
title: "Lieux fréquentés par Zikapanam"
layout: default
permalink: "/lieux.html"
---
<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><span style="color:#565656">Make this Notebook Trusted to load map: File -> Trust Notebook</span><iframe srcdoc="&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    
    &lt;meta http-equiv=&quot;content-type&quot; content=&quot;text/html; charset=UTF-8&quot; /&gt;
    
        &lt;script&gt;
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        &lt;/script&gt;
    
    &lt;style&gt;html, body {width: 100%;height: 100%;margin: 0;padding: 0;}&lt;/style&gt;
    &lt;style&gt;#map {position:absolute;top:0;bottom:0;right:0;left:0;}&lt;/style&gt;
    &lt;script src=&quot;https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://code.jquery.com/jquery-1.12.4.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js&quot;&gt;&lt;/script&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css&quot;/&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css&quot;/&gt;
    
            &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no&quot; /&gt;
            &lt;style&gt;
                #map_9b505abb91955280d3da9b33f8bc246c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            &lt;/style&gt;
        
&lt;/head&gt;
&lt;body&gt;
    
    
            &lt;div class=&quot;folium-map&quot; id=&quot;map_9b505abb91955280d3da9b33f8bc246c&quot; &gt;&lt;/div&gt;
        
&lt;/body&gt;
&lt;script&gt;
    
    
            var map_9b505abb91955280d3da9b33f8bc246c = L.map(
                &quot;map_9b505abb91955280d3da9b33f8bc246c&quot;,
                {
                    center: [48.856613132253514, 2.3671453462810526],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a3379694822b6bf0007cc0e91706693d = L.tileLayer(
                &quot;https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png&quot;,
                {&quot;attribution&quot;: &quot;Data by \u0026copy; \u003ca target=\&quot;_blank\&quot; href=\&quot;http://openstreetmap.org\&quot;\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\&quot;_blank\&quot; href=\&quot;http://www.openstreetmap.org/copyright\&quot;\u003eODbL\u003c/a\u003e.&quot;, &quot;detectRetina&quot;: false, &quot;maxNativeZoom&quot;: 18, &quot;maxZoom&quot;: 18, &quot;minZoom&quot;: 0, &quot;noWrap&quot;: false, &quot;opacity&quot;: 1, &quot;subdomains&quot;: &quot;abc&quot;, &quot;tms&quot;: false}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var marker_6221da0729940c4111545ad12af217d7 = L.marker(
                [48.853065032611624, 2.400673765614945],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_22dc27fa2cd2333691dbbbb521f411cf = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_6221da0729940c4111545ad12af217d7.setIcon(icon_22dc27fa2cd2333691dbbbb521f411cf);
        
    
        var popup_cd78fd1295c135855e364e62e228274f = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_67ad49180a6fe3f46cf57ed5cf7ef77d = $(`&lt;div id=&quot;html_67ad49180a6fe3f46cf57ed5cf7ef77d&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Centre Ken Saro-Wiwa | 75020&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75020 &lt;a href=&quot;https://maps.app.goo.gl/97dGPovR2YW11PQWA&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_cd78fd1295c135855e364e62e228274f.setContent(html_67ad49180a6fe3f46cf57ed5cf7ef77d);
            
        

        marker_6221da0729940c4111545ad12af217d7.bindPopup(popup_cd78fd1295c135855e364e62e228274f)
        ;

        
    
    
            var marker_adcdc6c33cdf9b2f88fd27f98646cb29 = L.marker(
                [48.89206506728088, 2.3104166404504536],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_759ac4b5c177291a0518d90e5a4ffcb3 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_adcdc6c33cdf9b2f88fd27f98646cb29.setIcon(icon_759ac4b5c177291a0518d90e5a4ffcb3);
        
    
        var popup_3a67f148af0569fd49efb8e7d59caff6 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_81d9602471a6b99e88ec22598d39a9e2 = $(`&lt;div id=&quot;html_81d9602471a6b99e88ec22598d39a9e2&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Centre Paris Anim Mado Robin | 75017&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75017 &lt;a href=&quot;https://maps.app.goo.gl/3NecZDthxWCScGy79&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_3a67f148af0569fd49efb8e7d59caff6.setContent(html_81d9602471a6b99e88ec22598d39a9e2);
            
        

        marker_adcdc6c33cdf9b2f88fd27f98646cb29.bindPopup(popup_3a67f148af0569fd49efb8e7d59caff6)
        ;

        
    
    
            var marker_da927b76c124854e6b27bc088ca301a7 = L.marker(
                [48.89759757732897, 2.4079245914041887],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_6a4edc2272acaf80d73acfdbeb3cd4ee = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_da927b76c124854e6b27bc088ca301a7.setIcon(icon_6a4edc2272acaf80d73acfdbeb3cd4ee);
        
    
        var popup_0c0fd234e5d2b488568f48ad1e5815f5 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_c1d7f7b6851b0a845f7042f766b7e17e = $(`&lt;div id=&quot;html_c1d7f7b6851b0a845f7042f766b7e17e&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;DGD Music Studio | 93500&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 93500 &lt;a href=&quot;https://goo.gl/maps/2U7zzqLwrXkXvK557&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_0c0fd234e5d2b488568f48ad1e5815f5.setContent(html_c1d7f7b6851b0a845f7042f766b7e17e);
            
        

        marker_da927b76c124854e6b27bc088ca301a7.bindPopup(popup_0c0fd234e5d2b488568f48ad1e5815f5)
        ;

        
    
    
            var marker_b2f6573b987f9d4f11cde70321076f61 = L.marker(
                [48.8844019626705, 2.353836096272236],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_6ecaa5fc7aee88433308d910343640e7 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_b2f6573b987f9d4f11cde70321076f61.setIcon(icon_6ecaa5fc7aee88433308d910343640e7);
        
    
        var popup_ba6f2a449428d8ddd9158fde8d607960 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_371ce14346b820ad167b65882b8ee343 = $(`&lt;div id=&quot;html_371ce14346b820ad167b65882b8ee343&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;FGO Barbara | 75018&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75018 &lt;a href=&quot;https://maps.app.goo.gl/3xXtM8e3Jfy25vYU7&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_ba6f2a449428d8ddd9158fde8d607960.setContent(html_371ce14346b820ad167b65882b8ee343);
            
        

        marker_b2f6573b987f9d4f11cde70321076f61.bindPopup(popup_ba6f2a449428d8ddd9158fde8d607960)
        ;

        
    
    
            var marker_c7745ba838e083ff9a2d04b28285dfa1 = L.marker(
                [48.90543857355753, 2.339154800970981],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_051f9e06b86d306e2d343ee3f028058e = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_c7745ba838e083ff9a2d04b28285dfa1.setIcon(icon_051f9e06b86d306e2d343ee3f028058e);
        
    
        var popup_a75a0b62a63c99b3286cd3d6e3d76785 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_222fff4546f17a460161ff2c6cac2c49 = $(`&lt;div id=&quot;html_222fff4546f17a460161ff2c6cac2c49&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Mains d&#x27;Oeuvres | 93400&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 93400 &lt;a href=&quot;https://maps.app.goo.gl/EoXJorDnadDs8Ubf8&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_a75a0b62a63c99b3286cd3d6e3d76785.setContent(html_222fff4546f17a460161ff2c6cac2c49);
            
        

        marker_c7745ba838e083ff9a2d04b28285dfa1.bindPopup(popup_a75a0b62a63c99b3286cd3d6e3d76785)
        ;

        
    
    
            var marker_b469a0a56dd17485f72c95622d745542 = L.marker(
                [48.85420607684811, 2.4204710257402606],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_957b069b6bfb31578b2c6fb7c59eed39 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_b469a0a56dd17485f72c95622d745542.setIcon(icon_957b069b6bfb31578b2c6fb7c59eed39);
        
    
        var popup_f9161b107c057561bde9ce6de1441f1f = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_7c7157bd142743936bf1c2e188ccfac5 = $(`&lt;div id=&quot;html_7c7157bd142743936bf1c2e188ccfac5&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio 440 Montreuil | 93100&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 93100 &lt;a href=&quot;https://maps.app.goo.gl/WcZ9h8611RD22AWU9&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_f9161b107c057561bde9ce6de1441f1f.setContent(html_7c7157bd142743936bf1c2e188ccfac5);
            
        

        marker_b469a0a56dd17485f72c95622d745542.bindPopup(popup_f9161b107c057561bde9ce6de1441f1f)
        ;

        
    
    
            var marker_1b31b734eafb816702cdc48758c2e330 = L.marker(
                [48.873174660020716, 2.353390893253403],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_5e369e86ce8ca45032a23f907841bf73 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_1b31b734eafb816702cdc48758c2e330.setIcon(icon_5e369e86ce8ca45032a23f907841bf73);
        
    
        var popup_8bb441266a6f16c35d66422c6376bf13 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_b12fe72041c051cbdd3cc8972f6a5d42 = $(`&lt;div id=&quot;html_b12fe72041c051cbdd3cc8972f6a5d42&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio Bleu 10ème | 75010&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75010 &lt;a href=&quot;https://goo.gl/maps/Syr6wv2vf6CZSDUz5&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_8bb441266a6f16c35d66422c6376bf13.setContent(html_b12fe72041c051cbdd3cc8972f6a5d42);
            
        

        marker_1b31b734eafb816702cdc48758c2e330.bindPopup(popup_8bb441266a6f16c35d66422c6376bf13)
        ;

        
    
    
            var marker_38d69f564faa709474dc1dd439477bd0 = L.marker(
                [48.85799891138765, 2.372357677910995],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_79f11f55ada947fb62c34f872bcd07cf = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_38d69f564faa709474dc1dd439477bd0.setIcon(icon_79f11f55ada947fb62c34f872bcd07cf);
        
    
        var popup_0fd77f44dd67b950e6c894a0b896d474 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_a7c32efec5ce9e9f237ff300c08dfd48 = $(`&lt;div id=&quot;html_a7c32efec5ce9e9f237ff300c08dfd48&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio Campus | 75011&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75011 &lt;a href=&quot;https://goo.gl/maps/nEQQ53QDHM11uj467&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_0fd77f44dd67b950e6c894a0b896d474.setContent(html_a7c32efec5ce9e9f237ff300c08dfd48);
            
        

        marker_38d69f564faa709474dc1dd439477bd0.bindPopup(popup_0fd77f44dd67b950e6c894a0b896d474)
        ;

        
    
    
            var marker_9f23ec00bdf83795f4801bd42f85ba51 = L.marker(
                [48.81998636835969, 2.338572028835795],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_e2c149825896c16f88a12ae6433df3fe = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_9f23ec00bdf83795f4801bd42f85ba51.setIcon(icon_e2c149825896c16f88a12ae6433df3fe);
        
    
        var popup_5dd8ff6e4235b013b7b90b32de34819e = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_f47e26369e1d2dd9c2d98875f07d1ed9 = $(`&lt;div id=&quot;html_f47e26369e1d2dd9c2d98875f07d1ed9&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio Cité Internationale Universitaire de Paris | 75014&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75014 &lt;a href=&quot;https://goo.gl/maps/GGGPWdZjd6kPJiAt9?coh=178572&amp;entry=tt&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_5dd8ff6e4235b013b7b90b32de34819e.setContent(html_f47e26369e1d2dd9c2d98875f07d1ed9);
            
        

        marker_9f23ec00bdf83795f4801bd42f85ba51.bindPopup(popup_5dd8ff6e4235b013b7b90b32de34819e)
        ;

        
    
    
            var marker_e8c1f805f669ca2b38955887ef59a66e = L.marker(
                [48.87382128419277, 2.3512432711642046],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_5117bf4fcf4706512aa63052e0761c1b = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_e8c1f805f669ca2b38955887ef59a66e.setIcon(icon_5117bf4fcf4706512aa63052e0761c1b);
        
    
        var popup_101ed4046147b84b53ccd493ddc5df00 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_e69f46343d5954c067ebb6e080aae428 = $(`&lt;div id=&quot;html_e69f46343d5954c067ebb6e080aae428&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio HBS Écuries (10ème) | 75010&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75010 &lt;a href=&quot;https://goo.gl/maps/JAFr8cPKM8mj8jze6?coh=178572&amp;entry=tt&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_101ed4046147b84b53ccd493ddc5df00.setContent(html_e69f46343d5954c067ebb6e080aae428);
            
        

        marker_e8c1f805f669ca2b38955887ef59a66e.bindPopup(popup_101ed4046147b84b53ccd493ddc5df00)
        ;

        
    
    
            var marker_7b76a895d158035ff6c9ed9de88f9e2e = L.marker(
                [48.87429992577817, 2.3460767134926135],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_ad97d7666610a9761d1aab1d12ced55b = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_7b76a895d158035ff6c9ed9de88f9e2e.setIcon(icon_ad97d7666610a9761d1aab1d12ced55b);
        
    
        var popup_03759f936fbac0024cb83f5f7f9fd558 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_2e0b283c5d51b890360d04aecfc81a95 = $(`&lt;div id=&quot;html_2e0b283c5d51b890360d04aecfc81a95&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio HF 9ème | 75009&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75009 &lt;a href=&quot;https://goo.gl/maps/uYuq8duwjxSXfh3h7&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_03759f936fbac0024cb83f5f7f9fd558.setContent(html_2e0b283c5d51b890360d04aecfc81a95);
            
        

        marker_7b76a895d158035ff6c9ed9de88f9e2e.bindPopup(popup_03759f936fbac0024cb83f5f7f9fd558)
        ;

        
    
    
            var marker_5c70334447453a65ad9c8642de85f4fd = L.marker(
                [48.83185877488834, 2.3389437932534025],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_95150248318b63a8fa5eda4ff32502aa = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_5c70334447453a65ad9c8642de85f4fd.setIcon(icon_95150248318b63a8fa5eda4ff32502aa);
        
    
        var popup_f746f1730257be569a819e061849d66f = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_c8e6e036f76f85ff78c73d547f98bd4a = $(`&lt;div id=&quot;html_c8e6e036f76f85ff78c73d547f98bd4a&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio HF 14ème | 75014&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75014 &lt;a href=&quot;https://goo.gl/maps/3DWxVr6H9K4CwEaX9&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_f746f1730257be569a819e061849d66f.setContent(html_c8e6e036f76f85ff78c73d547f98bd4a);
            
        

        marker_5c70334447453a65ad9c8642de85f4fd.bindPopup(popup_f746f1730257be569a819e061849d66f)
        ;

        
    
    
            var marker_3ae08abb29151726393c16496a86dcc3 = L.marker(
                [48.83089459102877, 2.378753664417801],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_00dd242e2af92758525580fa3a5872fd = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_3ae08abb29151726393c16496a86dcc3.setIcon(icon_00dd242e2af92758525580fa3a5872fd);
        
    
        var popup_199de0d13b9c35feca8e3a7306fcf4cd = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_762288abd60a0d62caf849a053bac2ee = $(`&lt;div id=&quot;html_762288abd60a0d62caf849a053bac2ee&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio Luna Rossa | 75013&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75013 &lt;a href=&quot;https://goo.gl/maps/az59anDD3cVYi88z8&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_199de0d13b9c35feca8e3a7306fcf4cd.setContent(html_762288abd60a0d62caf849a053bac2ee);
            
        

        marker_3ae08abb29151726393c16496a86dcc3.bindPopup(popup_199de0d13b9c35feca8e3a7306fcf4cd)
        ;

        
    
    
            var marker_c16f3c51ccfd6590c0defb59ae51b8da = L.marker(
                [48.81381396087733, 2.4712191797606593],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_6c02dc003d970f074a3b65208fce9eab = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_c16f3c51ccfd6590c0defb59ae51b8da.setIcon(icon_6c02dc003d970f074a3b65208fce9eab);
        
    
        var popup_2c92a35a692f5f84a27815bbc53eecdb = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_e4dafa2a211c9aabd79f4ea1ef2c1090 = $(`&lt;div id=&quot;html_e4dafa2a211c9aabd79f4ea1ef2c1090&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Studio Pulsar | 94340&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 94340 &lt;a href=&quot;https://goo.gl/maps/GPdCe3CcLi7DSJsS6&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_2c92a35a692f5f84a27815bbc53eecdb.setContent(html_e4dafa2a211c9aabd79f4ea1ef2c1090);
            
        

        marker_c16f3c51ccfd6590c0defb59ae51b8da.bindPopup(popup_2c92a35a692f5f84a27815bbc53eecdb)
        ;

        
    
    
            var marker_ea85a2965f5300d137ba3317cb28eb65 = L.marker(
                [48.86131, 2.349996],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_28634eea51e2d8ae14fa9b391c69ba24 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;purple&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_ea85a2965f5300d137ba3317cb28eb65.setIcon(icon_28634eea51e2d8ae14fa9b391c69ba24);
        
    
        var popup_ffa3896aea0f2e3a63c9a3eadef2da84 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_59f7620318df6e24fa2e5a2a36f0db94 = $(`&lt;div id=&quot;html_59f7620318df6e24fa2e5a2a36f0db94&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Wacked Live | 75004&lt;/b&gt; &lt;i&gt;Studio de répétition&lt;/i&gt; 75004 &lt;a href=&quot;https://maps.app.goo.gl/wDYXg2apQRjjav228&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_ffa3896aea0f2e3a63c9a3eadef2da84.setContent(html_59f7620318df6e24fa2e5a2a36f0db94);
            
        

        marker_ea85a2965f5300d137ba3317cb28eb65.bindPopup(popup_ffa3896aea0f2e3a63c9a3eadef2da84)
        ;

        
    
    
            var layer_control_46e33a6adc7ef8c6d67bbe048a3e7d7f = {
                base_layers : {
                    &quot;openstreetmap&quot; : tile_layer_a3379694822b6bf0007cc0e91706693d,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_46e33a6adc7ef8c6d67bbe048a3e7d7f.base_layers,
                layer_control_46e33a6adc7ef8c6d67bbe048a3e7d7f.overlays,
                {&quot;autoZIndex&quot;: true, &quot;collapsed&quot;: true, &quot;position&quot;: &quot;topright&quot;}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var marker_fad4073dfc237ed80ba6edaed562a41d = L.marker(
                [48.82912832041023, 2.3786719067457813],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_16605b2704d87ca7007ddedc8b2bca34 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_fad4073dfc237ed80ba6edaed562a41d.setIcon(icon_16605b2704d87ca7007ddedc8b2bca34);
        
    
        var popup_7ffd138caa1442cd70f7ef3dcd7cd9a5 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_68b29f68f111bfec3523983d6429cd07 = $(`&lt;div id=&quot;html_68b29f68f111bfec3523983d6429cd07&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Dupont Café Paris 13ème | 75013&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75013 &lt;a href=&quot;https://maps.app.goo.gl/LH2ujvhDCh3eBMuk9&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_7ffd138caa1442cd70f7ef3dcd7cd9a5.setContent(html_68b29f68f111bfec3523983d6429cd07);
            
        

        marker_fad4073dfc237ed80ba6edaed562a41d.bindPopup(popup_7ffd138caa1442cd70f7ef3dcd7cd9a5)
        ;

        
    
    
            var marker_4386f1b9a703fe21ce167be06952b424 = L.marker(
                [48.87001014194712, 2.373613523288485],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_cd7e46e9be0cdd5636f2018c60f4bfe7 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_4386f1b9a703fe21ce167be06952b424.setIcon(icon_cd7e46e9be0cdd5636f2018c60f4bfe7);
        
    
        var popup_99903583eafdd1902f26ea1efb4d70a8 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_f648b7bae60531d604664e05b91e99d6 = $(`&lt;div id=&quot;html_f648b7bae60531d604664e05b91e99d6&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Échiquier Paris 11ème | 75011&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75011 &lt;a href=&quot;https://maps.app.goo.gl/dRQLGbp2Fx6e65t36&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_99903583eafdd1902f26ea1efb4d70a8.setContent(html_f648b7bae60531d604664e05b91e99d6);
            
        

        marker_4386f1b9a703fe21ce167be06952b424.bindPopup(popup_99903583eafdd1902f26ea1efb4d70a8)
        ;

        
    
    
            var marker_d954f4adee9d0b4f48707f8a16268a1a = L.marker(
                [48.826125043705545, 2.3651739962680467],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_06cfba5249b91cc8fc7151fca5469bc6 = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_d954f4adee9d0b4f48707f8a16268a1a.setIcon(icon_06cfba5249b91cc8fc7151fca5469bc6);
        
    
        var popup_b91ce477885ad80f64708cc27fee69e8 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_aa09d1eb3acd78a692fe2afd4abd80fd = $(`&lt;div id=&quot;html_aa09d1eb3acd78a692fe2afd4abd80fd&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Lenouvô Cosmos | 75013&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75013 &lt;a href=&quot;https://maps.app.goo.gl/PZ7mcrMDj4E1iaqk9&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_b91ce477885ad80f64708cc27fee69e8.setContent(html_aa09d1eb3acd78a692fe2afd4abd80fd);
            
        

        marker_d954f4adee9d0b4f48707f8a16268a1a.bindPopup(popup_b91ce477885ad80f64708cc27fee69e8)
        ;

        
    
    
            var marker_b4422ffdb26a9be5a9cccce6585c2635 = L.marker(
                [48.84200298062322, 2.3413541453767475],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_1b389fdfe447450d6af81bc8aec0a01b = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_b4422ffdb26a9be5a9cccce6585c2635.setIcon(icon_1b389fdfe447450d6af81bc8aec0a01b);
        
    
        var popup_4a479722023d188b35d307f9a3d474b2 = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_de82c030c697523ed77d198be7abd9e7 = $(`&lt;div id=&quot;html_de82c030c697523ed77d198be7abd9e7&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Puzzle Bar Paris 5ème | 75005&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75005 &lt;a href=&quot;https://maps.app.goo.gl/228VgMYs2v6fVoWG8&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_4a479722023d188b35d307f9a3d474b2.setContent(html_de82c030c697523ed77d198be7abd9e7);
            
        

        marker_b4422ffdb26a9be5a9cccce6585c2635.bindPopup(popup_4a479722023d188b35d307f9a3d474b2)
        ;

        
    
    
            var marker_74475d53155ba3da6abb8ec23bc16877 = L.marker(
                [48.86583842714019, 2.3771085355821984],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_70eac13df2abfbfb1af241ea4daa745d = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_74475d53155ba3da6abb8ec23bc16877.setIcon(icon_70eac13df2abfbfb1af241ea4daa745d);
        
    
        var popup_a04622f399c7cb85728c1bb8989891dd = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_9a5476051ce5fcb207c28c4a76f5b347 = $(`&lt;div id=&quot;html_9a5476051ce5fcb207c28c4a76f5b347&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;QG Oberkampf | 75011&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75011 &lt;a href=&quot;https://goo.gl/maps/FhYJYcpY2xgySzam7&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_a04622f399c7cb85728c1bb8989891dd.setContent(html_9a5476051ce5fcb207c28c4a76f5b347);
            
        

        marker_74475d53155ba3da6abb8ec23bc16877.bindPopup(popup_a04622f399c7cb85728c1bb8989891dd)
        ;

        
    
    
            var marker_b84d58e83694393eb6c1c7e93d46db0a = L.marker(
                [48.831838096666374, 2.341100022098901],
                {}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
    
            var icon_ba5fe8e5768001b0eb93aa8194a8169f = L.AwesomeMarkers.icon(
                {&quot;extraClasses&quot;: &quot;fa-rotate-0&quot;, &quot;icon&quot;: &quot;ok-sign&quot;, &quot;iconColor&quot;: &quot;white&quot;, &quot;markerColor&quot;: &quot;black&quot;, &quot;prefix&quot;: &quot;glyphicon&quot;}
            );
            marker_b84d58e83694393eb6c1c7e93d46db0a.setIcon(icon_ba5fe8e5768001b0eb93aa8194a8169f);
        
    
        var popup_049e413bd0c7a652727767c92f50be2f = L.popup({&quot;maxWidth&quot;: &quot;100%&quot;});

        
            
                var html_bac276645d8c7a67bb7b7aaeb7082195 = $(`&lt;div id=&quot;html_bac276645d8c7a67bb7b7aaeb7082195&quot; style=&quot;width: 100.0%; height: 100.0%;&quot;&gt;&lt;div style=&quot;font-size: large&quot;&gt;&lt;b&gt;Réveil Samaritain 14ème | 75014&lt;/b&gt; &lt;i&gt;Café Concert&lt;/i&gt; 75014 &lt;a href=&quot;https://maps.app.goo.gl/Zxgi2ckTm3iPCiKk9&quot; target=&quot;_blank&quot;&gt;Google Maps URL&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;`)[0];
                popup_049e413bd0c7a652727767c92f50be2f.setContent(html_bac276645d8c7a67bb7b7aaeb7082195);
            
        

        marker_b84d58e83694393eb6c1c7e93d46db0a.bindPopup(popup_049e413bd0c7a652727767c92f50be2f)
        ;

        
    
    
            var layer_control_1c60b4a742a813dade75b7044b2877b5 = {
                base_layers : {
                    &quot;openstreetmap&quot; : tile_layer_a3379694822b6bf0007cc0e91706693d,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_1c60b4a742a813dade75b7044b2877b5.base_layers,
                layer_control_1c60b4a742a813dade75b7044b2877b5.overlays,
                {&quot;autoZIndex&quot;: true, &quot;collapsed&quot;: true, &quot;position&quot;: &quot;topright&quot;}
            ).addTo(map_9b505abb91955280d3da9b33f8bc246c);
        
&lt;/script&gt;
&lt;/html&gt;" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe></div></div>