---
title: "Linktr.ee"
layout: default
permalink: "/linktree.html"
---
<div>
<strong>-- EN FRANÇAIS --</strong>
<p>
Ici vous trouverez les liens vers les pages linktree contenant les démos et les informations essentielles à la découverte de ces projets.
<ul>
<li><strong>ZIKAPANAM (ZAP)</strong>, association loi 1901 gérant les projets ci-dessous : <a href="https://linktr.ee/zikapanam">Linktree ZAP</a></li>
<li><strong>Musiciens Intermédiaires et débutants de Paris (MIP)</strong>, communauté Discord (Adultes uniq.) : <a href="https://linktr.ee/Musiciens.Interdebs.Parisiens">Linktree MIP</a></li>
<li><strong>Paris Jam Club (PJC)</strong>, communauté Discord (Adultes uniq. intermédiaires-avancés ou avancés) : <a href="https://linktr.ee/JamsMusicales">Linktree PJC</a></li>
<li><strong>Atelier d'Impro Musicale de Paris (AIMP)</strong>, structure intégré au Discord PJC (Adultes uniq. intermédiaires-avancés ou avancés) : <a href="https://linktr.ee/AtelierImproMusicaleParis">Linktree AIMP</a></li>
</ul>
</p>
</div>
<div class="english">
<strong>-- IN ENGLISH --</strong>
<p>
Here you will find the links to the linktree pages containing the demos and the essential information to discover these projects.
</p>
<ul>
<li><strong>ZIKAPANAM (ZAP)</strong>, association law 1901 managing the projects below: <a href="https://linktr.ee/zikapanam">Linktree ZAP</a></li>
<li><strong>Intermediate and Beginner Musicians of Paris (MIP)</strong>, Discord community (Adults only): <a href="https://linktr.ee/Musiciens.Interdebs.Parisiens">Linktree MIP </a></li>
<li><strong>Paris Jam Club (PJC)</strong>, Discord community (Adults only Intermediate-advanced or advanced): <a href="https://linktr.ee/JamsMusicales">Linktree PJC</a></li>
<li><strong>Atelier d'Impro Musicale de Paris (AIMP)</strong>, structure integrated into the Discord PJC (Adults only Intermediate-advanced or advanced): <a href="https://linktr.ee/AtelierImproMusicaleParis">Linktree AIMP</a></li>
</ul>
</div>


