---
title: "Par mois"
layout: default
permalink: "/monthly.html"
---

<div class="row listrecent">
<h2>Articles par mois</h2>
{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%m-%Y'"  %}
{% for yearMonth in postsByYearMonth %}
<div class="section-title col-md-12 mt-4">
  <h3 id="{{ yearMonth.name }}">{{ yearMonth.name }}</h3>
      {% for post in yearMonth.items %}
	        <div class="tooltip">
		<div class="tooltip-inner">
	        <a href="{{ post.url }}">
                 {% if post.image %}

                    {% if site.lazyimages == "enabled" %}
                        <img class="lazyimg" height="64" width="64" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"/>
                    {% else %}
                        <img height="64" width="64" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"/>
                    {% endif %}
		{% else %}
			<img height="64" width="64"/>
                {% endif %}
                </a>
                </div>
		<div class="tooltip-inner">
	        <a href="{{ post.url }}">
		{{ post.title }}
		</a>
		</div>
    <span class="tooltiptext">{{ post.description }}</span>
  </div>
  <br/>
      {% endfor %}
</div>
{% endfor %}
</div>
