---
layout: page
title: Petites annonces musicales
permalink: /petites-annonces-musicales
---
<p>
Voici l'annonce que j'ai mise sur zikinf :
</p>

<h2>Nous cherchons tout type d'instrument</h2>

<p>Guitare, basse, contrebasse, violon, violoncelle, harpe, autres instruments à cordes, chant - voix, clavier - piano, batterie, cajon, percussion, accordéon, clarinette, flûte, harmonica, saxophone, trompette, trombone, autres instruments à vent, MAO
</p>

<p>
Salut,
</p>

<p>
Vous cherchez à entretenir la flamme pour la musique ? Ou votre expérience musicale est un gruyère et vous le regrettez ? Peu importe votre niveau, nous avons une solution !
</p>

<p>
Nous pratiquons aujourd’hui principalement les musiques actuelles (du jazz au métal) mais nous nous ouvrons récemment à la musique trad et à la musique de chambre alors si ça vous motive de partir sur une nouvelle aventure dans une association de bénévoles, vous êtes la bienvenue !
</p>

<p>
Les bénévoles de l’association Zikapanam organisent et participent à des rencontres musicales communément appelés jams. Elle se déroule soit de façons ponctuelles pour ceux qui ont un emploi du temps chargé mais qui veulent quand même s’adonner à leur passion ou des jams régulières au sein de collectifs qui œuvrent avec un objectif partagé par tous leurs membres (le plaisir,, progresser techniquement, faire des concerts, l’improvisation, faire des reprises…).
</p>

<p>
Au menu, des rencontres musicales que nous appelons jamostudios dans un local de répétition, street jams dehors par beau temps dans les lieux où cette activité est tolérée, sortie jams dans des bars qui ont pignon sur rue et qui organisent des événements de type jam session ou scène ouverte et enfin les jams distancielles par internet particulièrement prisées lors du COVID mais qui peuvent avoir certains avantages même hors COVID !
</p>

<p>
Rencontrez, échangez, partagez, progressez entre amateurs ou semi-pro ! Faîtes-vous de nombreuses connaissances durant votre passe temps favori !
</p>

<p>
Plus d’infos là : <a  href="https://www.blog.zikapanam.fr/about">https://www.blog.zikapanam.fr/about</a>
</p>

<p>Suivez ce lien pour atterrir sur notre serveur Discord :
<a href="https://discord.gg/DBKNAFcSem">https://discord.gg/DBKNAFcSem</a>
</p>

<p>
Merci !<br/>
Laurent
<a href="https://linktr.ee/AssoZikapanam">https://linktr.ee/AssoZikapanam</a>
</p>
